<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>

</style>
</head>

.big{font-family: .emilys-candy-regul;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;}
        
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.emilys-candy-regular {
  font-family: "Emilys Candy", "ani", monospace;
  font-weight: 400;
  font-style: normal;
}
.hori{display:flexbox;
flex-direction: column;}
.help{flex-direction: column;}
