<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>

</style>
</head>

.big{font-family: .emilys-candy-regul;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;}
        
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.emilys-candy-regular {
  font-family: "Emilys Candy", "ani", monospace;
  font-weight: 400;
  font-style: normal;
}
.hori{display:flexbox;
flex-direction: column;}
.help{flex-direction: column;}
footer {
  color:floralwhite;
  background-color: rgb(255, 252, 242);
  font-family: monospace;
  position: fixed;
}
.star{
  position:fixed;
  pointer-events: none;
}
.star:before, .star:after{
  position:absolute;
  top;0;
  left:0;
  content:'\2726';
  font-size: 9px;
}
.star:before{
  color:transparent;
  text-shadow: 0 0 3px rgb(252, 190, 216);
}
.star:after{
  background: rgb(224, 135, 172));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}